/* STYLESHEET RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* GENERAL LAYOUT */
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  margin-top: 6em;
  background-color: #ff4a4a; }

.container {
  margin: 0 auto;
  /* "Padding" is 10px, or 1em, or 1%, if 1em = 10px and max-width = 1000px. */
  padding: 1%;
  width: 98%;
  /* Max-width is 1000px, or 100em if 1em = 10px */
  max-width: 100em;
  overflow: hidden;
  text-align: left; }

.content {
  background-image: url("../images/bg-light.png");
  background-position: 0 0;
  background-repeat: repeat; }

.header-cover {
  margin-top: -6em; }

.header-uncover {
  padding-top: 6em; }

/* TYPOGRAPHY */
/* All font sizes calculated based on 1em = 10px. */
p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7em;
  font-weight: normal;
  color: #464646;
  line-height: 2em; }

h1 {
  font-family: "Sanchez", serif;
  font-size: 5em;
  color: #131313; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6em;
  color: #131313;
  line-height: 5em;
  text-transform: uppercase; }

h3 {
  color: #131313;
  text-align: center; }

h4 {
  font-family: "Sanchez", serif;
  font-size: 2em;
  font-weight: normal;
  text-transform: capitalize;
  text-align: center;
  line-height: 2em;
  color: #ef4137; }

.small-bold-caps, h3, header, footer {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  text-transform: uppercase; }

/* HEADER AND NAVIGATION */
header {
  background-color: white;
  opacity: 0.85;
  filter: alpha(opacity=85);
  z-index: 2;
  position: fixed;
  top: 0em;
  width: 100%;
  color: #131313; }
  header .container {
    padding: 1.25% 1%;
    width: 97.5%; }

nav {
  float: right;
  text-align: right;
  width: 48%;
  padding: 1.25% 0%; }
  nav a:link, nav a:visited, nav a:hover, nav a:active, nav a:focus {
    text-decoration: none;
    color: #131313;
    padding: 0 2%;
    border-right-width: 0.15em;
    border-right-style: solid;
    border-right-color: #131313; }
    nav a:link:last-child, nav a:visited:last-child, nav a:hover:last-child, nav a:active:last-child, nav a:focus:last-child {
      border: none; }

.container-btn {
  float: right;
  text-align: center;
  width: 12%;
  padding: 0.45% 0% 0% 0%; }

.logo {
  float: left;
  width: 30%; }

.btn {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: inset 0.15em -0.25em 1em #a00000;
  -moz-box-shadow: inset 0.15em -0.25em 1em #a00000;
  box-shadow: inset 0.15em -0.25em 1em #a00000;
  background-color: #ff4a4a;
  color: white;
  display: inline-block;
  padding: 0.75em 1.5em; }
  .btn:hover, .btn btn:focus {
    -webkit-box-shadow: inset 0em 0em 1em #a00000;
    -moz-box-shadow: inset 0em 0em 1em #a00000;
    box-shadow: inset 0em 0em 1em #a00000; }
  .btn:active {
    -webkit-box-shadow: inset -0.15em 0.25em 1.5em #a00000;
    -moz-box-shadow: inset -0.15em 0.25em 1.5em #a00000;
    box-shadow: inset -0.15em 0.25em 1.5em #a00000;
    position: relative;
    top: 0.03em; }
  .btn a:link, .btn a:visited, .btn a:hover, .btn a:active, .btn a:focus {
    text-decoration: none;
    color: white; }

/* FOOTER */
footer {
  background-color: #f9f0df;
  background-image: url("../images/bg-footer.png");
  background-position: 0 0;
  background-repeat: repeat-x;
  color: white; }
  footer a:link, footer a:visited, footer a:hover, footer a:active, footer a:focus {
    text-decoration: none;
    color: white;
    padding: 0 2%;
    border-right-width: 0.15em;
    border-right-style: solid;
    border-right-color: white; }
    footer a:link:last-child, footer a:visited:last-child, footer a:hover:last-child, footer a:active:last-child, footer a:focus:last-child {
      border: none; }
  footer .container {
    text-align: center;
    padding: 4.5% 0; }

/* HERO */
.hero {
  background-image: url("../images/hero.jpg");
  background-position: 50% top;
  background-repeat: no-repeat;
  height: 56em;
  color: #131313;
  text-align: center; }

.hero-bg {
  background-image: url("../images/bg-wood.jpg");
  background-position: 0 top;
  background-repeat: repeat-x; }

.hero-text {
  margin: 15% 10%;
  padding: 3% 2%; }

/* 3-COLUMN LAYOUT */
.col-3 {
  float: left;
  width: 28%;
  padding: 0% 1.75% 0% 3.5%; }
  .col-3:nth-child(5) {
    border-width: 0 0.1em;
    border-style: solid;
    border-color: #131313; }

.col-3-bg {
  background-image: url("../images/bg-light.png");
  background-position: 0 0;
  background-repeat: repeat; }
  .col-3-bg .container {
    padding: 3% 0%; }

.col-container {
  clear: both;
  width: 100%; }

.col-2-even {
  float: left;
  width: 48%;
  padding: 0% 1%; }

.col-onethird {
  float: left;
  width: 31.33333%;
  padding: 0% 1%; }

.col-twothird {
  float: left;
  width: 64.66667%;
  padding: 0% 1%; }
