/* GENERAL LAYOUT & TYPOGRAPHY */

body
  margin: 0
  padding: 0
  font
    size: 16px
    family: $sans-serif


/* Top and bottom "padding" is 30px, or 1.875em if 1em = 16px */
/* Sides "padding" is 10px, or 0.625em if 1em = 16px */
.container
  margin: 0 auto
  padding: 3.125% 1.041666666666%
  width: 97.9166666%
  max-width: 960px
  overflow: hidden
  text-align: left


