/* GENERAL LAYOUT & TYPOGRAPHY */

body
    margin: 0
    padding: 0
    font:
        size: 10px
    margin-top: 6em
    background-color: $red

.container
    margin: 0 auto
    /* "Padding" is 10px, or 1em, or 1%, if 1em = 10px and max-width = 1000px.
    padding: 1%
    width: 98%
    /* Max-width is 1000px, or 100em if 1em = 10px
    max-width: 100em
    overflow: hidden
    text-align: left

.content
    +bg-img('../images/bg-light.png', 0 0, repeat)

/* All font sizes calculated based on 1em = 10px.
p
    font:
        family: $sans-serif
        size: 1.7em
        weight: normal
    color: $sans-serif-p
    line-height: 2em

h1
    font:
        family: $serif
        size: 5em
    color: $bold-color

h2
    font:
        family: $sans-serif
        size: 1.6em
    color: $bold-color
    line-height: 5em
    text-transform: uppercase

h3
    color: $bold-color
    text-align: center
    +small-bold-caps

h4
    font:
        family: $serif
        size: 2em
        weight: normal
    text-transform: capitalize
    text-align: center
    line-height: 2em
    color: $serif-heading
