/* HEADER AND FOOTER */

header
	background-color: $white
	z-index: 2
	position: fixed
	top: 0em
	width: 100%
	line-height: $header-height
	font:
		size: 1.5em

	+shadow(0 0 5em $white)

footer
	font:
		family: $serif
	text-align: center
