/* HEADER AND FOOTER */

header
	background-color: $white
	opacity: 0.85
	filter: alpha(opacity=85)
	z-index: 2
	position: fixed
	top: 0em
	width: 100%
	line-height: 2em
	color: $bold-color
	+small-bold-caps

footer
	background-color: $footer-bg
	+bg-img('../images/bg-footer.png', 0 0, repeat-x)
	line-height: 2em
	color: $white
	+small-bold-caps
	text-align: center
