/* HEADER AND FOOTER */

header
	background-color: $white
	opacity: 0.85
	filter: alpha(opacity=85)
	z-index: 2
	position: fixed
	top: 0em
	width: 100%
	color: $bold-color
	+small-bold-caps
	+link($bold-color, 0 2%, 0.15em, solid, $bold-color)

footer
	background-color: $footer-bg
	+bg-img('../images/bg-footer.png', 0 0, repeat-x)
	color: $white
	+small-bold-caps
	+link($white, 0 2%, 0.15em, solid, $white)

	.container
		text-align: center
