/* HOMEPAGE DESIGN */

.hero
	background:
		image: url("../images/lolcatsdotcomlikemyself.jpg")
		repeat: no-repeat
		position: center
		size: cover

.hero-text
	font:
		family: $serif
	margin: 15% 20%
	padding: 3.125% 2%
	background: $white

	+shadow(inset 0 0 3em $dark-grey, 0 0 1em $blue)

	+radius(0.5em)

.col-3
	float: left
	width: 28%
	padding: 3.125% 2%

	&:nth-child(2)
		margin: 0 2%

.col-3-bg
	color: $white
	+bg-img('../images/bg-light.png', 0 0, repeat)