/* HOMEPAGE DESIGN */

.col-3
  float: left
  width: 30%

  &:nth-child(2)
    margin: 0 5%

.col-3-bg
  background-color: $purple
  color: $white

.test
  background-color: $blue

.foreground
  background-color: $white


