!!!5

%html(xmlns="http://www.w3.org/1999.html")
	%head
		%link(rel='shortcut icon' href='../images/favicon.ico')
		%link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Sanchez' rel='stylesheet' type='text/css')
		%title
			Contributors | clipcake
		%link(rel='stylesheet' type='text/css' href='css/global.css')

	%body
		/ Header and Navigation
		%header
			.container
				.logo
					<img src='images/logo-name.png' alt='clipcake'>
				.container-btn
					.btn
						<a href="#">Get started</a>
				%nav
					<a href='#'>How it works</a> <a href='#'>My books</a>
		.content.header-cover.header-uncover
			.container
				%p
					My books
				%p
					Kelsey's Birthday
				.col-container
					.col-onethird
						Menu items go here.
					.col-twothird
						Slideshow goes here.
		.content
			.container
				%p
					My pages
		.content
			.container
				%p
					Friends' pages

		/ Footer			
		%footer
			.container
				<a href="#">About us</a> <a href="#">Contact</a> <a href="#">FAQ</a> <a href="#">Terms & Conditions</a> <a href="#">Connect</a>