!!!5

%html(xmlns="http://www.w3.org/1999.html")
	%head
		%link(rel='shortcut icon' href='../images/favicon.ico')
		%link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Sanchez' rel='stylesheet' type='text/css')
		%title
			Edit your photo book | clipcake
		%link(rel='stylesheet' type='text/css' href='css/global.css')

	%body
		/ Header and Navigation
		%header
			.container
				<img src='images/logo-name.png' alt='clipcake'>
                
				<a href='#'>How it works</a> <a href='#'>My books</a>
		.bookcontent.header-cover.header-uncover
			.container
				%p
					Contributors.
			.container
				%p
					Pages.

		%footer
			.container
				<a href="#">About us</a> <a href="#">Contact</a> <a href="#">FAQ</a> <a href="#">Terms & Conditions</a> <a href="#">Connect</a>