!!!5

%html(xmlns="http://www.w3.org/1999.html")
    %head
        %link(href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css')
        %title
            Clipcake | Home
        %link(rel='stylesheet' type='text/css' href='css/global.css')

    %body
        / Header and Navigation
        %header
            .container
                This header floats. Boo-yeah.
        .content.bg-general
            .container.hero
                .hero-text
                    %h1
                        "Everybody wants to be a cat
                    %h1
                        Because a cat's the only cat
                    %h1
                        Who knooows where it's at" *
                    %p
                        &nbsp
                    %p
                        * Ten points for anyone who can tell me where that's from.**
                    %h6
                        ** If you don't know the answer, you must not have had a childhood. So sad.

        .content.col-3-bg
            .container
                .col-3
                    %h2
                        Step 1
                    %p
                        Design a layout.
                    %p
                        But don't take too long, or it'll suck you into a bottomless pit from which you will never allow yourself to leave with a finished product.
                    %p
                        Believe me, I know.
                .col-3
                    %h2
                        Step 2
                    %p
                        Approve the layout with all of your teammates.
                .col-3
                    %h2
                        Step 3
                    %p
                        Code the layout.
        %footer
            .container
                %p
                    Let's make a footer with <a href="#">links</a> in it.


