!!!5

%html(xmlns="http://www.w3.org/1999.html")
    %head
        %link(rel='shortcut icon' href='../images/favicon.ico')
        %link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Sanchez' rel='stylesheet' type='text/css')
        %title
            Home | Clipcake
        %link(rel='stylesheet' type='text/css' href='css/global.css')

    %body
        / Header and Navigation
        %header
            .container
                <img src='images/logo-name.png' alt='clipcake'>
                
                <a href='#'>How it works</a> <a href='#'>My books</a>
        .content.hero-bg
            .container.hero
                .hero-text
                    %h1
                        Collaborate with friends to
                    %h2
                        turn facebook albums into the perfect gift and
                    %h1
                        create a timeless photobook

        .content.col-3-bg
            .container
                .col-3
                    %h3
                        Step 1
                    %h4
                        Invite your friends
                    %p
                        Friends contribute their own photo page to an album dedicated to one lucky recipient.
                .col-3
                    %h3
                        Step 2
                    %h4
                        Use Facebook photos
                    %p    
                        Clipcake uses your Facebook photos of the recipient to help you make a page in seconds.
                .col-3
                    %h3
                        Step 3
                    %h4
                        Give a photo book
                    %p
                        When the photo pages are done, organize the book. Then, for one flat rate, send a special gift.
        %footer
            .container
                <a href="#">About us</a> <a href="#">Contact</a> <a href="#">FAQ</a> <a href="#">Terms & Conditions</a> <a href="#">Connect</a>


